
/* Data Tables basic styling */

.dataTables_length,
.dataTables_info {
	float:left;
}
.dataTables_filter,
.dataTables_paginate {
	float:right;
}

.dataTables_paginate a {
	margin: 0 3px;
}

.dataTables_paginate a:hover {
	cursor: pointer;
}
